


<div class="flex flex-col mt-8 lg:flex-row">
  <div>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2"
        >Company name: </label>
        <input type="text" formControlName="name"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2"
        >Company description: </label>
        <input type="text" formControlName="description"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2"
        >Company city: </label>
        <input type="text" formControlName="city"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">Company address: </label>
        <input type="text" formControlName="address"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (submit)="onSubmit()">
          Create
        </button>
        <button
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" type="button" (click)="createCompanyForm.reset()">
          Clear Form
        </button>
      </div>
    </form>
  </div>
  <div class="flex-1">
    <app-company *ngFor="let company of companies" [company]="company"></app-company>
  </div>
</div>

