<div class="about">
  <div class="info">
    <h2>
      About us
    </h2>
    <p>
      Album is a Barcelona-based photo agency founded in 1993 with presence in more than 60 countries through an international distribution network.

      We manage the image reproduction rights for its use in any media, format and distribution channel. Our collection - specialized in art, culture and history - is one of the most renowed internationally. Since 1993 we've been building our collection adding own production and integrating images from photographers and illustrators. We are also distributing for the Spanish-speaking countries some of the best international archives.

      We have developed and manage our own technological platform for hosting and distribution of our images, granting us independence and flexibility to fit all our clients' requests. Our specialized picture researchers team is on hand to assist you in all aspects of research, rights and licensing and will help you to find the right picture for your project.

      Album is a supporting member of CEPIC (Centre of the Picture Industry) and member of AEAPAF (Asociación Española de Agencias de Prensa y Archivos Fotográficos).
    </p>

    <h2>
      Our service
    </h2>
    <p>
      You can perform text searches in our site, as well as visual searches by dragging any image. You can also contact our research team and you will receive a selection of images whithout any extra charge.

      Prices are set based on usage, media and broadcasting. Please don't hesitate to contact us with your needs and we'll do our best to fit with your budget.
    </p>

    <h2>
      Technology and international projects
    </h2>
    <p>Album business has expanded from traditional image licensing to technology provider:
      <b>
        ALikhan lox
      </b>
      offering technological solutions to other companies of its segment
      large image database management and website publicacion
      high performance text engines
      metadata communication protocols between providers’ servers
      image visual search engine: AlbumRIS
      web images crawling system: AlbumCrawler
      Album has developed the technology AlbumRIS, which allows the identification of images based on its visual content. This technology is integrated in Album web site enabling users to search for content by dragging an image from another site or from the local hard disk. Album offers AlbumRIS technology to archives, collections, collecting societies, etc. worldwide.

      Album participated in the EU partly-funded project RDI (Rights Data Integration, 2013-2015). The project aimed at demonstrating solutions to streamline rights and permissions transactions and rights information discovery in the digital environment. One of the RDI work-streams focused on mechanisms to discover the rights related to images through the use of Reverse Image Search queries in federated systems, where different image providers could be sources of information. Album contribution consisted of the definition of a standardized Unique Image Number, federated search of images against different sources, and the design and development of the corresponding communication protocols.

      Album is currently participating in the EU partly-funded project ARDITO (Access to Rights Data via Identification Technologies Optimisation). ARDITO is all about providing simple tools and services to support creators and Small and Medium-Sized businesses (SMEs) in the creative content sector, to find new business ideas through monetising the re-use of their content. The vision of the project is that any user of digital content should be able easily to access information about rights to that content, such as who owns the content, and where he can go to get a licence. AlbumCrawler technology is offered as well to archives, collections, collecting societies, etc. worldwide.
    </p>
  </div>
</div>
