
.photos{
  display: flex;
  justify-content: start;
  width: 80%;
  margin: 0 auto
}


.back{
  margin-top: 50px;
  width: 70px;
}

.container{
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: repeat(auto-fill, minmax(0, 250px));
  justify-content: center;
  grid-gap: 20px;
  width: 960px;
  height: 100%;
  padding: 20px
}

.title{
  text-align: center;
}
