<div class="product">

  <div class="card-sticker">
    <div class="bonus" (click)="removeObj()">
      <img src="https://resources.cdn-kaspi.kz/yml/static/assets/badges/l12.svg" alt="">
    </div>
    <div class="bonus">
      <img src="https://resources.cdn-kaspi.kz/yml/static/assets/badges/b5.svg" alt="">
    </div>
  </div>
  <div class="image-frame">
    <img [src]="product.image" [alt]="product.title" class="photo">
  </div>
  <hr>
  <div class="product-link">
    <a (click)="redirectToOtherComponent(product)" [queryParams]="{'prod': product}" routerLink="/product-details/{{product.id}}" routerLinkActive="active" ariaCurrentWhenActive="page" [state]="product">{{(product.title|slice:0:40) + "..."}}</a>
  </div>
  <div class="rate">
    <div class="star-rate"></div><a>({{product.rating['count']}} отзывов)</a>
  </div>
  <div class="card-price">
    <div class="debt">
      <span class="debt-title">Цена</span>
      <span class="debt-price">{{ product.price.toString()}}</span>
    </div>
    <div class="credit">
      <span class="credit-title">В рассрочку</span>
      <div class="yellow">{{(product.price/3)|number:'1.0-0'}} </div> x3
    </div>
    <div class="share-btn">
      <a href="" (click)="shareClick(encodeURIComponent(product.title + '\n' + product.description.slice(0,100)), encodeURIComponent(product.url))">
      <img src="../../../assets/Telegram_logo.svg" alt="">
      </a>
    </div>
  </div>

</div>

<div id="popup{{product.id}}" class="popup">
  <div class="popup-body">
    <div class="popup-content">
      <a href="#" class="popup-close">X</a>
      <div class="popup-title">{{product.title}}</div>
      <div class="popup-text">{{product.description}}</div>
    </div>
  </div>
</div>
