.container{
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px
}

.album{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: black 1px solid;
}

.album + .album {
  border-top: none;
}

.title{
  line-height: 25px;
  display: inline-block;
  font-size: 24px;
  a{
    color: black;
    text-decoration: none;
  }
}



.add{

  width: 25px;
  height: 25px;
  svg{
    width: inherit;
    height: inherit;
  }
}
